@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* =======================================================
*
* 	Template Style
*
* ======================================================= */
/* line 108, ../sass/style.scss */
body {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: #444;
  background: #fff;
}

/* line 116, ../sass/style.scss */
#page {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
/* line 126, ../sass/style.scss */
.offcanvas #page:after {
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.7);
  content: "";
}

/* line 139, ../sass/style.scss */
a {
  color: #ad9900;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
/* line 142, ../sass/style.scss */
a:hover, a:active, a:focus {
  color: #ad9900;
  outline: none;
  text-decoration: none;
}

/* line 148, ../sass/style.scss */
p {
  margin-bottom: 30px;
}

/* line 152, ../sass/style.scss */
h1, h2, h3, h4, h5, h6, figure {
  color: #000;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 30px 0;
}

/* line 158, ../sass/style.scss */
::-webkit-selection {
  color: #fff;
  background: #ad9900;
}

/* line 163, ../sass/style.scss */
::-moz-selection {
  color: #fff;
  background: #ad9900;
}

/* line 167, ../sass/style.scss */
::selection {
  color: #fff;
  background: #ad9900;
}

/* line 172, ../sass/style.scss */
.gtco-nav {
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 20px 0;
  z-index: 1001;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 768px) {
  /* line 172, ../sass/style.scss */
  .gtco-nav {
    padding: 20px 0;
  }
}
/* line 185, ../sass/style.scss */
.gtco-nav #gtco-logo {
  font-size: 30px;
  line-height: 1;
  margin: 0;
  padding: 0;
  font-weight: bold;
}
/* line 193, ../sass/style.scss */
.gtco-nav #gtco-logo em {
  color: #fff;
  font-weight: 100;
  font-style: normal;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
/* line 199, ../sass/style.scss */
.gtco-nav #gtco-logo a {
  padding: 0px 10px;
  color: #fff;
  font-weight: 700;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
@media screen and (max-width: 768px) {
  /* line 207, ../sass/style.scss */
  .gtco-nav .menu-1, .gtco-nav .menu-2 {
    display: none;
  }
}
/* line 212, ../sass/style.scss */
.gtco-nav ul {
  padding: 0;
  margin: 1px 0 0 0;
}
/* line 215, ../sass/style.scss */
.gtco-nav ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
}
/* line 220, ../sass/style.scss */
.gtco-nav ul li a {
  font-size: 12px;
  padding: 15px 10px;
  margin: 10px 0;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400 !important;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
/* line 228, ../sass/style.scss */
.gtco-nav ul li a:hover, .gtco-nav ul li a:focus, .gtco-nav ul li a:active {
  color: #fff;
}
/* line 233, ../sass/style.scss */
.gtco-nav ul li.has-dropdown {
  position: relative;
}
/* line 235, ../sass/style.scss */
.gtco-nav ul li.has-dropdown .dropdown {
  width: 130px;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
  z-index: 1002;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 40px;
  left: 0;
  text-align: left;
  background: #fff;
  padding: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}
/* line 251, ../sass/style.scss */
.gtco-nav ul li.has-dropdown .dropdown:before {
  bottom: 100%;
  left: 40px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 8px;
  margin-left: -8px;
}
/* line 266, ../sass/style.scss */
.gtco-nav ul li.has-dropdown .dropdown li {
  display: block;
  margin-bottom: 7px;
}
/* line 269, ../sass/style.scss */
.gtco-nav ul li.has-dropdown .dropdown li:last-child {
  margin-bottom: 0;
}
/* line 272, ../sass/style.scss */
.gtco-nav ul li.has-dropdown .dropdown li a {
  padding: 2px 0;
  display: block;
  color: #999999;
  line-height: 1.2;
  text-transform: none;
  font-size: 15px;
}
/* line 279, ../sass/style.scss */
.gtco-nav ul li.has-dropdown .dropdown li a:hover {
  color: #000;
}
/* line 284, ../sass/style.scss */
.gtco-nav ul li.has-dropdown .dropdown li.active > a {
  color: #000 !important;
}
/* line 291, ../sass/style.scss */
.gtco-nav ul li.has-dropdown:hover a, .gtco-nav ul li.has-dropdown:focus a {
  color: #fff;
}
/* line 301, ../sass/style.scss */
.gtco-nav ul li.btn-cta a {
  color: #fff;
}
/* line 303, ../sass/style.scss */
.gtco-nav ul li.btn-cta a span {
  border: none !important;
  background: rgba(255, 255, 255, 0.2);
  padding: 4px 20px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
}
/* line 312, ../sass/style.scss */
.gtco-nav ul li.btn-cta a:hover span {
  background: #c7b000;
  color: #fff;
}
/* line 320, ../sass/style.scss */
.gtco-nav ul li.active > a {
  color: #fff !important;
}
/* line 326, ../sass/style.scss */
.gtco-nav.scrolled {
  background: #fff;
  webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
}
/* line 331, ../sass/style.scss */
.gtco-nav.scrolled ul {
  padding: 0;
  margin: 1px 0 0 0;
}
/* line 334, ../sass/style.scss */
.gtco-nav.scrolled ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
  white-space: nowrap;
}
/* line 340, ../sass/style.scss */
.gtco-nav.scrolled ul li a {
  color: rgba(0, 0, 0, 0.5);
}
/* line 342, ../sass/style.scss */
.gtco-nav.scrolled ul li a:hover {
  color: black;
}
/* line 347, ../sass/style.scss */
.gtco-nav.scrolled ul li.active > a {
  color: #ad9900 !important;
}
/* line 352, ../sass/style.scss */
.gtco-nav.scrolled ul li.btn-cta a {
  color: #fff;
}
/* line 354, ../sass/style.scss */
.gtco-nav.scrolled ul li.btn-cta a span {
  border: none !important;
  background: #ad9900;
  padding: 4px 20px;
  color: #fff;
}
/* line 365, ../sass/style.scss */
.gtco-nav.scrolled #gtco-logo em, .gtco-nav.scrolled #gtco-logo a {
  color: #000;
}

/* line 374, ../sass/style.scss */
#gtco-hero .gtco-video-link a {
  color: rgba(255, 255, 255, 0.5);
}
/* line 376, ../sass/style.scss */
#gtco-hero .gtco-video-link a i {
  font-size: 78px;
  top: 2px;
  position: relative;
  color: #fff;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
/* line 392, ../sass/style.scss */
#gtco-hero .gtco-video-link a:hover {
  color: white;
}
/* line 394, ../sass/style.scss */
#gtco-hero .gtco-video-link a:hover i {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
@media screen and (max-width: 480px) {
  /* line 408, ../sass/style.scss */
  #gtco-hero .text-left {
    text-align: center !important;
  }
}
@media screen and (max-width: 480px) {
  /* line 414, ../sass/style.scss */
  #gtco-hero .btn {
    display: block;
    width: 100%;
  }
}

/* line 420, ../sass/style.scss */
#gtco-header,
#gtco-counter,
.gtco-bg {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}

/* line 428, ../sass/style.scss */
.gtco-bg {
  background-position: center center;
  width: 100%;
  float: left;
  position: relative;
}

/* line 435, ../sass/style.scss */
.gtco-video {
  height: 450px;
  overflow: hidden;
  margin-bottom: 30px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}
/* line 440, ../sass/style.scss */
.gtco-video.gtco-video-sm {
  height: 250px;
}
/* line 443, ../sass/style.scss */
.gtco-video a {
  z-index: 1001;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -45px;
  margin-left: -45px;
  width: 90px;
  height: 90px;
  display: table;
  text-align: center;
  background: #fff;
  -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
/* line 461, ../sass/style.scss */
.gtco-video a i {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-size: 40px;
}
/* line 469, ../sass/style.scss */
.gtco-video .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
/* line 479, ../sass/style.scss */
.gtco-video:hover .overlay {
  background: rgba(0, 0, 0, 0.7);
}
/* line 482, ../sass/style.scss */
.gtco-video:hover a {
  position: relative;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

/* line 493, ../sass/style.scss */
.gtco-cover {
  height: 900px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  float: left;
  width: 100%;
}
/* line 501, ../sass/style.scss */
.gtco-cover a {
  color: #ad9900;
}
/* line 503, ../sass/style.scss */
.gtco-cover a:hover {
  color: white;
}
/* line 507, ../sass/style.scss */
.gtco-cover .overlay {
  z-index: 1;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(35, 35, 35, 0.5);
}
/* line 515, ../sass/style.scss */
.gtco-cover .overlay.light {
  background: rgba(255, 255, 255, 0.75);
}
/* line 519, ../sass/style.scss */
.gtco-cover > .container {
  position: relative;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  /* line 493, ../sass/style.scss */
  .gtco-cover {
    height: 600px;
  }
}
/* line 526, ../sass/style.scss */
.gtco-cover .display-t,
.gtco-cover .display-tc {
  height: 900px;
  display: table;
  width: 100%;
}
@media screen and (max-width: 768px) {
  /* line 526, ../sass/style.scss */
  .gtco-cover .display-t,
  .gtco-cover .display-tc {
    height: 600px;
  }
}
/* line 536, ../sass/style.scss */
.gtco-cover.gtco-cover-sm {
  height: 600px;
}
@media screen and (max-width: 768px) {
  /* line 536, ../sass/style.scss */
  .gtco-cover.gtco-cover-sm {
    height: 400px;
  }
}
/* line 541, ../sass/style.scss */
.gtco-cover.gtco-cover-sm .display-t,
.gtco-cover.gtco-cover-sm .display-tc {
  height: 600px;
  display: table;
  width: 100%;
}
@media screen and (max-width: 768px) {
  /* line 541, ../sass/style.scss */
  .gtco-cover.gtco-cover-sm .display-t,
  .gtco-cover.gtco-cover-sm .display-tc {
    height: 400px;
  }
}
/* line 551, ../sass/style.scss */
.gtco-cover.gtco-cover-xs {
  height: 500px;
}
@media screen and (max-width: 768px) {
  /* line 551, ../sass/style.scss */
  .gtco-cover.gtco-cover-xs {
    height: inherit !important;
    padding: 3em 0;
  }
}
/* line 557, ../sass/style.scss */
.gtco-cover.gtco-cover-xs .display-t,
.gtco-cover.gtco-cover-xs .display-tc {
  height: 500px;
  display: table;
  width: 100%;
}
@media screen and (max-width: 768px) {
  /* line 557, ../sass/style.scss */
  .gtco-cover.gtco-cover-xs .display-t,
  .gtco-cover.gtco-cover-xs .display-tc {
    padding: 3em 0;
    height: inherit !important;
  }
}
/* line 568, ../sass/style.scss */
.gtco-cover.gtco-cover-xxs {
  padding: 3em 0;
}
/* line 571, ../sass/style.scss */
.gtco-cover .btn-primary {
  color: #fff !important;
}

/* line 576, ../sass/style.scss */
section {
  padding: 7em 0;
  clear: both;
}

/* line 581, ../sass/style.scss */
.light {
  background: rgba(255, 255, 255, 0.5);
}

/* line 587, ../sass/style.scss */
#gtco-about .img-shadow {
  position: relative;
  background: #ad9900;
  width: 100%;
  float: left;
}
/* line 592, ../sass/style.scss */
#gtco-about .img-shadow img {
  position: relative;
  top: -20px;
  left: -20px;
}
/* line 598, ../sass/style.scss */
#gtco-about .heading {
  position: relative;
}
/* line 600, ../sass/style.scss */
#gtco-about .heading .subtle-text {
  position: absolute;
  bottom: -1.6em;
  left: 0;
  text-transform: uppercase;
  font-size: 208px;
  color: #F8F8F8;
  font-weight: 900;
  z-index: -1;
}

/* line 615, ../sass/style.scss */
#gtco-practice-areas .heading {
  position: relative;
}
/* line 617, ../sass/style.scss */
#gtco-practice-areas .heading .subtle-text {
  position: absolute;
  bottom: -1.6em;
  left: 0;
  text-transform: uppercase;
  font-size: 208px;
  color: #F8F8F8;
  font-weight: 900;
  z-index: -1;
  line-height: 1;
}
/* line 627, ../sass/style.scss */
#gtco-practice-areas .heading .subtle-text span {
  display: block;
}
/* line 632, ../sass/style.scss */
#gtco-practice-areas .gtco-practice-area-item {
  margin-bottom: 30px;
}
/* line 634, ../sass/style.scss */
#gtco-practice-areas .gtco-practice-area-item .gtco-icon,
#gtco-practice-areas .gtco-practice-area-item .gtco-copy {
  display: table-cell;
  vertical-align: top;
}
/* line 639, ../sass/style.scss */
#gtco-practice-areas .gtco-practice-area-item .gtco-icon {
  width: 100px;
}
@media screen and (max-width: 768px) {
  /* line 639, ../sass/style.scss */
  #gtco-practice-areas .gtco-practice-area-item .gtco-icon {
    width: 70px;
  }
}
/* line 646, ../sass/style.scss */
#gtco-practice-areas .gtco-practice-area-item .gtco-copy h3 {
  margin-bottom: 15px;
  font-size: 24px;
}

/* line 654, ../sass/style.scss */
#gtco-our-team .heading {
  position: relative;
}
/* line 656, ../sass/style.scss */
#gtco-our-team .heading .subtle-text {
  position: absolute;
  bottom: -1.6em;
  left: 0;
  text-transform: uppercase;
  font-size: 208px;
  color: #F8F8F8;
  font-weight: 900;
  z-index: -1;
  line-height: 1;
}
/* line 666, ../sass/style.scss */
#gtco-our-team .heading .subtle-text span {
  display: block;
}
/* line 672, ../sass/style.scss */
#gtco-our-team .team-item {
  margin-bottom: 9em;
}
/* line 674, ../sass/style.scss */
#gtco-our-team .team-item:last-child {
  margin-bottom: 0;
}
/* line 681, ../sass/style.scss */
#gtco-our-team .gtco-team-reverse .img-shadow,
#gtco-our-team .gtco-team .img-shadow {
  position: relative;
  background: #ad9900;
  width: 100%;
  float: left;
  margin-bottom: 30px;
}
/* line 687, ../sass/style.scss */
#gtco-our-team .gtco-team-reverse .img-shadow img,
#gtco-our-team .gtco-team .img-shadow img {
  position: relative;
  top: -20px;
  right: -20px;
}
/* line 696, ../sass/style.scss */
#gtco-our-team .gtco-team .img-shadow img {
  top: -20px;
  left: -20px;
}

/* line 706, ../sass/style.scss */
#gtco-contact .heading {
  position: relative;
}
/* line 708, ../sass/style.scss */
#gtco-contact .heading .subtle-text {
  position: absolute;
  bottom: -1em;
  left: 0;
  text-transform: uppercase;
  font-size: 208px;
  color: #F8F8F8;
  font-weight: 900;
  z-index: -1;
  line-height: 1;
}
/* line 718, ../sass/style.scss */
#gtco-contact .heading .subtle-text span {
  display: block;
}
/* line 723, ../sass/style.scss */
#gtco-contact .form-group {
  margin-bottom: 30px;
}
/* line 726, ../sass/style.scss */
#gtco-contact .form-control {
  height: 70px;
  font-size: 18px;
  box-shadow: none !important;
  border: 1px solid #cccccc;
  padding-left: 20px;
  padding-right: 20px;
  background: #fff;
}
/* line 735, ../sass/style.scss */
#gtco-contact textarea {
  height: inherit !important;
  resize: vertical;
}

/* line 741, ../sass/style.scss */
.heading {
  text-align: center;
  margin-bottom: 70px;
}
/* line 744, ../sass/style.scss */
.heading h1 {
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  /* line 744, ../sass/style.scss */
  .heading h1 {
    font-size: 26px;
  }
}
/* line 750, ../sass/style.scss */
.heading .sub {
  position: relative;
  padding-bottom: 40px;
  font-size: 18px;
  color: #444;
}
/* line 755, ../sass/style.scss */
.heading .sub:after {
  bottom: 0;
  left: 50%;
  margin-left: -36px;
  content: "";
  position: absolute;
  width: 72px;
  height: 2px;
  background: #ad9900;
}

/* line 767, ../sass/style.scss */
.heading-colored {
  color: #ad9900;
}

/* line 771, ../sass/style.scss */
.read-more i {
  position: relative;
  top: 2px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
/* line 777, ../sass/style.scss */
.read-more:hover i {
  padding-left: 10px;
}

/* line 782, ../sass/style.scss */
.gtco-social-icons {
  margin: 0;
  padding: 0;
}
/* line 785, ../sass/style.scss */
.gtco-social-icons li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
/* line 790, ../sass/style.scss */
.gtco-social-icons li a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  color: #ad9900;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 795, ../sass/style.scss */
.gtco-social-icons li a i {
  font-size: 20px;
}

/* line 802, ../sass/style.scss */
.gtco-contact-info {
  margin-bottom: 30px;
  float: left;
  width: 100%;
  position: relative;
}
/* line 807, ../sass/style.scss */
.gtco-contact-info ul {
  padding: 0;
  margin: 0;
  clear: both;
}
/* line 811, ../sass/style.scss */
.gtco-contact-info ul li {
  padding: 0 0 0 50px;
  margin: 0 0 30px 0;
  list-style: none;
  position: relative;
}
/* line 816, ../sass/style.scss */
.gtco-contact-info ul li:before {
  color: #ad9900;
  position: absolute;
  left: 0;
  top: .05em;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 824, ../sass/style.scss */
.gtco-contact-info ul li.address:before {
  font-size: 30px;
  content: "\e9d1";
}
/* line 830, ../sass/style.scss */
.gtco-contact-info ul li.phone:before {
  font-size: 23px;
  content: "\e9f4";
}
/* line 836, ../sass/style.scss */
.gtco-contact-info ul li.email:before {
  font-size: 23px;
  content: "\e9da";
}
/* line 842, ../sass/style.scss */
.gtco-contact-info ul li.url:before {
  font-size: 23px;
  content: "\e9af";
}

/* line 853, ../sass/style.scss */
form label {
  font-weight: normal !important;
}

/* line 861, ../sass/style.scss */
#gtco-header .display-tc,
.gtco-cover .display-tc {
  display: table-cell !important;
  vertical-align: middle;
}
/* line 864, ../sass/style.scss */
#gtco-header .display-tc h1, #gtco-header .display-tc h2,
.gtco-cover .display-tc h1,
.gtco-cover .display-tc h2 {
  margin: 0;
  padding: 0;
  color: white;
}
/* line 869, ../sass/style.scss */
#gtco-header .display-tc h1,
.gtco-cover .display-tc h1 {
  margin-bottom: 30px;
  font-size: 59px;
  line-height: 1.5;
  font-weight: 100;
}
@media screen and (max-width: 768px) {
  /* line 869, ../sass/style.scss */
  #gtco-header .display-tc h1,
  .gtco-cover .display-tc h1 {
    font-size: 34px;
    line-height: 1.2;
    margin-bottom: 10px;
  }
}
/* line 880, ../sass/style.scss */
#gtco-header .display-tc h2,
.gtco-cover .display-tc h2 {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 30px;
}

/* line 888, ../sass/style.scss */
#gtco-footer {
  padding-top: 30px;
  background: #fafafa;
}
/* line 891, ../sass/style.scss */
#gtco-footer .gtco-footer-links {
  padding: 0;
  margin: 0 0 20px 0;
  float: left;
  width: 100%;
}
/* line 896, ../sass/style.scss */
#gtco-footer .gtco-footer-links li {
  padding: 0;
  margin: 0 0 15px 0;
  list-style: none;
  line-height: 1;
}
/* line 901, ../sass/style.scss */
#gtco-footer .gtco-footer-links li a {
  text-decoration: none;
}
/* line 903, ../sass/style.scss */
#gtco-footer .gtco-footer-links li a:hover {
  text-decoration: underline;
}
/* line 909, ../sass/style.scss */
#gtco-footer .gtco-widget {
  margin-bottom: 30px;
}
/* line 911, ../sass/style.scss */
#gtco-footer .gtco-widget h3 {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
/* line 918, ../sass/style.scss */
#gtco-footer .gtco-widget .gtco-quick-contact {
  padding: 0;
  margin: 0;
}
/* line 921, ../sass/style.scss */
#gtco-footer .gtco-widget .gtco-quick-contact li {
  padding: 0;
  margin: 0 0 10px 0;
  list-style: none;
}
/* line 925, ../sass/style.scss */
#gtco-footer .gtco-widget .gtco-quick-contact li i {
  width: 30px;
  float: left;
  font-size: 18px;
  position: relative;
  margin-top: 4px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
@media screen and (max-width: 768px) {
  /* line 938, ../sass/style.scss */
  #gtco-footer .copyright .pull-left,
  #gtco-footer .copyright .pull-right {
    float: none !important;
    text-align: center;
  }
}
/* line 946, ../sass/style.scss */
#gtco-footer .copyright .block {
  display: block;
}

/* line 954, ../sass/style.scss */
#gtco-offcanvas {
  position: absolute;
  position: fixed;
  z-index: 1901;
  width: 270px;
  background: black;
  top: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 45px 40px 40px 40px;
  overflow-y: auto;
  display: none;
  -moz-transform: translateX(270px);
  -webkit-transform: translateX(270px);
  -ms-transform: translateX(270px);
  -o-transform: translateX(270px);
  transform: translateX(270px);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  /* line 954, ../sass/style.scss */
  #gtco-offcanvas {
    display: block;
  }
}
/* line 972, ../sass/style.scss */
.offcanvas #gtco-offcanvas {
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}
/* line 975, ../sass/style.scss */
#gtco-offcanvas a {
  color: rgba(255, 255, 255, 0.5);
}
/* line 977, ../sass/style.scss */
#gtco-offcanvas a:hover {
  color: rgba(255, 255, 255, 0.8);
}
/* line 981, ../sass/style.scss */
#gtco-offcanvas ul {
  padding: 0;
  margin: 0;
}
/* line 984, ../sass/style.scss */
#gtco-offcanvas ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 988, ../sass/style.scss */
#gtco-offcanvas ul li > ul {
  padding-left: 20px;
  display: none;
}
/* line 993, ../sass/style.scss */
#gtco-offcanvas ul li.offcanvas-has-dropdown > a {
  display: block;
  position: relative;
}
/* line 996, ../sass/style.scss */
#gtco-offcanvas ul li.offcanvas-has-dropdown > a:after {
  position: absolute;
  right: 0px;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e921";
  font-size: 20px;
  color: rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
/* line 1008, ../sass/style.scss */
#gtco-offcanvas ul li.offcanvas-has-dropdown.active a:after {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

/* line 1022, ../sass/style.scss */
.uppercase {
  font-size: 14px;
  color: #000;
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

/* line 1029, ../sass/style.scss */
.gototop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
/* line 1037, ../sass/style.scss */
.gototop.active {
  opacity: 1;
  visibility: visible;
}
/* line 1041, ../sass/style.scss */
.gototop a {
  width: 50px;
  height: 50px;
  display: table;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
/* line 1049, ../sass/style.scss */
.gototop a i {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}
/* line 1055, ../sass/style.scss */
.gototop a:hover, .gototop a:active, .gototop a:focus {
  text-decoration: none;
  outline: none;
}

/* line 1065, ../sass/style.scss */
.gtco-nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
}
/* line 1071, ../sass/style.scss */
.gtco-nav-toggle.active i::before, .gtco-nav-toggle.active i::after {
  background: #444;
}
/* line 1075, ../sass/style.scss */
.gtco-nav-toggle:hover, .gtco-nav-toggle:focus, .gtco-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
/* line 1079, ../sass/style.scss */
.gtco-nav-toggle i {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 2px;
  color: #252525;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #252525;
  transition: all .2s ease-out;
}
/* line 1090, ../sass/style.scss */
.gtco-nav-toggle i::before, .gtco-nav-toggle i::after {
  content: '';
  width: 25px;
  height: 2px;
  background: #252525;
  position: absolute;
  left: 0;
  transition: all .2s ease-out;
}
/* line 1101, ../sass/style.scss */
.gtco-nav-toggle.gtco-nav-white > i {
  color: #fff;
  background: #fff;
}
/* line 1104, ../sass/style.scss */
.gtco-nav-toggle.gtco-nav-white > i::before, .gtco-nav-toggle.gtco-nav-white > i::after {
  background: #fff;
}

/* line 1111, ../sass/style.scss */
.gtco-nav-toggle i::before {
  top: -7px;
}

/* line 1114, ../sass/style.scss */
.gtco-nav-toggle i::after {
  bottom: -7px;
}

/* line 1117, ../sass/style.scss */
.gtco-nav-toggle:hover i::before {
  top: -10px;
}

/* line 1120, ../sass/style.scss */
.gtco-nav-toggle:hover i::after {
  bottom: -10px;
}

/* line 1123, ../sass/style.scss */
.gtco-nav-toggle.active i {
  background: transparent;
}

/* line 1126, ../sass/style.scss */
.gtco-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

/* line 1134, ../sass/style.scss */
.gtco-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

/* line 1142, ../sass/style.scss */
.gtco-nav-toggle {
  position: fixed;
  right: 0px;
  top: 10px;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 44px;
  z-index: 2001;
  border-bottom: none !important;
}
@media screen and (max-width: 768px) {
  /* line 1142, ../sass/style.scss */
  .gtco-nav-toggle {
    display: block;
  }
}

/* line 1164, ../sass/style.scss */
.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 8px 30px;
}
/* line 1173, ../sass/style.scss */
.btn.btn-md {
  padding: 8px 20px !important;
}
/* line 1176, ../sass/style.scss */
.btn.btn-lg {
  padding: 18px 36px !important;
}
/* line 1179, ../sass/style.scss */
.btn:hover, .btn:active, .btn:focus {
  box-shadow: none !important;
  outline: none !important;
}

/* line 1184, ../sass/style.scss */
.btn-primary {
  background: #ad9900;
  color: #fff;
  border: 2px solid #ad9900 !important;
}
/* line 1188, ../sass/style.scss */
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: #c7b000 !important;
  border-color: #c7b000 !important;
}
/* line 1192, ../sass/style.scss */
.btn-primary.btn-outline {
  background: transparent;
  color: #ad9900;
  border: 2px solid #ad9900;
}
/* line 1196, ../sass/style.scss */
.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
  background: #ad9900;
  color: #fff;
}

/* line 1202, ../sass/style.scss */
.btn-success {
  background: #5cb85c;
  color: #fff;
  border: 2px solid #5cb85c;
}
/* line 1206, ../sass/style.scss */
.btn-success:hover, .btn-success:focus, .btn-success:active {
  background: #4cae4c !important;
  border-color: #4cae4c !important;
}
/* line 1210, ../sass/style.scss */
.btn-success.btn-outline {
  background: transparent;
  color: #5cb85c;
  border: 2px solid #5cb85c;
}
/* line 1214, ../sass/style.scss */
.btn-success.btn-outline:hover, .btn-success.btn-outline:focus, .btn-success.btn-outline:active {
  background: #5cb85c;
  color: #fff;
}

/* line 1220, ../sass/style.scss */
.btn-info {
  background: #5bc0de;
  color: #fff;
  border: 2px solid #5bc0de;
}
/* line 1224, ../sass/style.scss */
.btn-info:hover, .btn-info:focus, .btn-info:active {
  background: #46b8da !important;
  border-color: #46b8da !important;
}
/* line 1228, ../sass/style.scss */
.btn-info.btn-outline {
  background: transparent;
  color: #5bc0de;
  border: 2px solid #5bc0de;
}
/* line 1232, ../sass/style.scss */
.btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {
  background: #5bc0de;
  color: #fff;
}

/* line 1238, ../sass/style.scss */
.btn-warning {
  background: #f0ad4e;
  color: #fff;
  border: 2px solid #f0ad4e;
}
/* line 1242, ../sass/style.scss */
.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
  background: #eea236 !important;
  border-color: #eea236 !important;
}
/* line 1246, ../sass/style.scss */
.btn-warning.btn-outline {
  background: transparent;
  color: #f0ad4e;
  border: 2px solid #f0ad4e;
}
/* line 1250, ../sass/style.scss */
.btn-warning.btn-outline:hover, .btn-warning.btn-outline:focus, .btn-warning.btn-outline:active {
  background: #f0ad4e;
  color: #fff;
}

/* line 1256, ../sass/style.scss */
.btn-danger {
  background: #d9534f;
  color: #fff;
  border: 2px solid #d9534f;
}
/* line 1260, ../sass/style.scss */
.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
  background: #d43f3a !important;
  border-color: #d43f3a !important;
}
/* line 1264, ../sass/style.scss */
.btn-danger.btn-outline {
  background: transparent;
  color: #d9534f;
  border: 2px solid #d9534f;
}
/* line 1268, ../sass/style.scss */
.btn-danger.btn-outline:hover, .btn-danger.btn-outline:focus, .btn-danger.btn-outline:active {
  background: #d9534f;
  color: #fff;
}

/* line 1274, ../sass/style.scss */
.btn-white {
  background: #fff;
  color: #000;
  border: 2px solid #fff;
}
/* line 1278, ../sass/style.scss */
.btn-white:hover, .btn-white:focus, .btn-white:active {
  color: #000;
  background: #f2f2f2 !important;
  border-color: #f2f2f2 !important;
}
/* line 1283, ../sass/style.scss */
.btn-white.btn-outline {
  color: #fff;
  border: 2px solid #fff;
}
/* line 1286, ../sass/style.scss */
.btn-white.btn-outline:hover, .btn-white.btn-outline:focus, .btn-white.btn-outline:active {
  background: #fff;
  color: #000;
  border: 2px solid #fff;
}

/* line 1294, ../sass/style.scss */
.btn-outline {
  background: none;
  border: 2px solid gray;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
/* line 1299, ../sass/style.scss */
.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
  box-shadow: none;
}

/* line 1304, ../sass/style.scss */
.btn.with-arrow {
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
/* line 1307, ../sass/style.scss */
.btn.with-arrow i {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -8px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
/* line 1316, ../sass/style.scss */
.btn.with-arrow:hover {
  padding-right: 50px;
}
/* line 1318, ../sass/style.scss */
.btn.with-arrow:hover i {
  color: #fff;
  right: 18px;
  visibility: visible;
  opacity: 1;
}

/* line 1328, ../sass/style.scss */
#gtco-contact h3 {
  color: #fff;
  font-size: 30px;
}

/* line 1336, ../sass/style.scss */
.row-pb-md {
  padding-bottom: 4em !important;
}

/* line 1339, ../sass/style.scss */
.row-pb-sm {
  padding-bottom: 2em !important;
}

/* line 1343, ../sass/style.scss */
.gtco-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/loader.gif) center no-repeat #fff;
}

/* line 1354, ../sass/style.scss */
.js .animate-box {
  opacity: 0;
}
